@model SbsWeb.Models.OwnerViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Create Board</h1>



@if (Model.HasBoards)
{
    <h1>Your Boards</h1>
    @await Html.PartialAsync("OwnerBoardListView", Model.Owner.Boards)
}
else
{
    <h1>You dont have any boards! Create one now!</h1>
}



