@model SbsWeb.Data.Board

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Board</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class ="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group">
                <label asp-for="RowLabel" class="control-label"></label>
                <input asp-for="RowLabel" class="form-control" />
                <span asp-validation-for="RowLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColLabel" class="control-label"></label>
                <input asp-for="ColLabel" class="form-control" />
                <span asp-validation-for="ColLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColNumbers" class="control-label"></label>
                <input asp-for="ColNumbers" class="form-control" />
                <span asp-validation-for="ColNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RowNumbers" class="control-label"></label>
                <input asp-for="RowNumbers" class="form-control" />
                <span asp-validation-for="RowNumbers" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
